<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kategori</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/kategori}" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="nama" placeholder="Nama Kategori">
        <input type="text" class="form-control" name="deskripsi" placeholder="Deskripsi Kategori">
    </div>
    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
</form>
</body>
</html>